<h2>Entries</h2>
<ul>
  <% if @entries.present? %>
    <% @entries.each do |entry| %>
      <li><%= entry.title %>: <%= entry.content %></li>
    <% end %>
  <% else %>
    <p>No entries found. <%= link_to 'Add an Entry', new_place_entry_path(@place) %></p>
  <% end %>
</ul>

<div>
  <% @places.each do |place| %>
    <li>
      <%= link_to place.name, place_path(place) %> |
      <%= link_to 'Add an Entry', new_place_entry_path(place) %>
    </li>
  <% end %>
</div>