<h1>Add a New Place</h1>

<%= form_with model: @place, local: true do |f| %>
  <div>
    <%= f.label :name, "Place Name" %>
    <%= f.text_field :name, required: true %>
  </div>
  
  <div>
    <%= f.fields_for :entries do |entry_fields| %>
      <%= entry_fields.label :title, "Entry Title" %>
      <%= entry_fields.text_field :title, required: true %>
      
      <%= entry_fields.label :content, "Entry Content" %>
      <%= entry_fields.text_field :content, required: true %>
    <% end %>
  </div>

  <div>
    <%= f.submit "Create Place" %>
  </div>
<% end %>
