<h1>Add a New Place</h1>

<%= form_with model: @place, local: true do |f| %>
  <div>
    <%= f.label :name, "Place Name" %>
    <%= f.text_field :name, required: true %>
  </div>

  <div>
    <h3>Entries</h3>
    <%= f.fields_for :entries do |entry_fields| %>
      <div>
        <%= entry_fields.label :title, "Entry Title" %>
        <%= entry_fields.text_field :title, required: true %>
      </div>
      <div>
        <%= entry_fields.label :content, "Entry Content" %>
        <%= entry_fields.text_area :content, required: true %>  <!-- Ensure field name matches the DB column -->
      </div>
    <% end %>
  </div>

  <div>
    <%= f.submit "Create Place" %>
  </div>
<% end %>
